.portada {
    left: 0px;
    top: 0px;
    width: 100%;
}

.titulo {
    color: rgb(149, 225, 255); 
    font-family: 'Atma', cursive;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 90px;
    text-shadow: 2px 2px 4px #000000;
}

.subtitulo {
    color:rgb(175, 232, 255); 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.carousel{
    z-index: -1;
}

h2 {
    color: rgb(1, 56, 70); 
    font-family: 'Atma', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    color: rgb(1, 56, 70); 
    font-family: 'Atma', cursive;
}

.tituloFormas{
    color: rgb(1, 56, 70); 
    font-family: 'Atma', cursive;
    text-align: center;
}

.tituloTipos{
    color: rgb(1, 56, 70); 
    font-family: 'Atma', cursive;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.col-formas, .col-tipos{
    width: 100%; 
    border-radius: 5px;   
}

.col-formas:hover, .col-tipos:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectOption {
    box-shadow: 0 10px 12px 0 rgba(76, 255, 246, 0.849);
}

.card-link{
    margin-top: 30px;
}

.col-md-8 {width: 100%;}

.bi-trash3-fill::before {
    font-size: 1.3em;
    color: grey;
}

.badge{
color: grey;
}

.list-group-item .list-group-item {
    background: rgb(180, 219, 255);
    border-radius: 1em;
    padding-left: 10px;
    margin-top: 5px;
}

.img-carrito{
    width: 50%;
}

.row {
    margin-left: 0;
    margin-right: 0;
    --bs-gutter-x: 2.5rem;
}

.col-md-4 {
    width: 100%;
}

.list-none{
    list-style: none;
    margin-left: 15px
}

#formTotal{
    margin-left: -15px;
    margin-bottom: 25px;
}

.btnComprar{
    margin-left: -15px;
}
