.portada {
    left: 0px;
    top: 0px;
    width: 100%;
}

.titulo {
    color: rgb(255, 7, 143); 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

h2 {
    color: rgb(255, 7, 143); 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-formas, .col-tipos{
    width: 100%;
}

.img-fluid {width: 100%;}

.row {
    margin-left: 0;
    margin-right: 0;
    --bs-gutter-x: 2.5rem;
}

.col-md-4 {
    width: 100%;
}

.list-none{
    list-style: none;
    margin-left: 15px
}